<div>
  <ul class="nav nav-pills ">
    <button type="button active"  class="btn btn-secondary"><span class="badge badge-warning">P1</span> Demographics</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-secondary"><span class="badge badge-warning">P2</span> Insurance</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-secondary"><span class="badge badge-warning">P3</span> Appointments</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-secondary"><span class="badge badge-warning">P4</span> Referral Source</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-secondary"><span class="badge badge-warning">P5</span>  Documents</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-secondary"><span class="badge badge-warning">P6</span> Care Team</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-secondary"><span class="badge badge-warning">P7</span>  Appointments Memo</button>&nbsp;&nbsp;&nbsp;&nbsp;
  </ul>
</div>
