<div class="container">

  <h1>Add task demo</h1>
  <form [formGroup]="addtask" (ngSubmit)="onTaskAdd()">
    <div class="form-group">
      <label>Task id</label>
      <input formControlName="Id" type="text" class="form-control" placeholder="Enter id">

   </div>
    <div class="form-group">
      <label>Task Name</label>
      <input formControlName="Title" type="text" class="form-control" placeholder="Enter Name ">

    </div>
      <div  class="form-group">
        <label>Task Status</label>
        <input formControlName="Status" class="form-control" placeholder="Enter Status">
      </div>

    <div class="form-group">
      <button type="submit" class="form-control btn btn-primary">Add Task</button>
    </div>
  </form>
</div>
